html, body {
    min-width: 100%;
    min-height: 100%;
}

body{
    display: flex;
    margin: 0;
}

.container{
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}

.head{
    background: #3598dc;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.content-left{
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    background: #ffffff;
    position: fixed;
    top: 10%;
    left: 0;
    right: 20%;
    bottom: 20%;
}

.content-right{
    overflow-y: auto;
    background: #e2e2e2;
    position: fixed;
    top: 10%;
    left: 80%;
    right: 0;
    bottom: 20%;
}

.foot{
    background: #3598dc;
    position: fixed;
    height: 20%;
    left: 0;
    right: 0;
    bottom: 0;
}
