html, body {

}

.content-left{
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    background: #ffffff;
    position: fixed;
    top: 8%;
    left: 0;
    right: 20%;
    bottom: 15%;
}

.content-right{
    overflow-y: auto;
    background: #e2e2e2;
    position: fixed;
    top: 8%;
    left: 80%;
    right: 0%;
    bottom: 15%;
}

.foot{
    background: #3598dc;
    position: fixed;
    height: 15%;
    left: 0;
    right: 0;
    bottom: 0;
}
